<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-4">
        <h3 class="mb-4">Listing Details</h3>
        <div class="text-center text-md-start mb-3">
                <img src="<%= listing.image %>" alt="listing image" class="show-img col-12 col-md-5">
        </div>
        <div class="details mb-3">
            <b><%= listing.title %></b><br>
            <span class="details-heading">Description: </span><%= listing.description %><br>
            <span class="details-heading">Location: </span><%= listing.location %><br>
            <span class="details-heading">Country: </span><%= listing.country %><br>
            <span class="details-heading">Price: </span>&#8377; <%= listing.price.toLocaleString("en-IN") %></p><!--To convert number into local comma separated string-->
        </div>
        <div class="show-btns mb-3 col-md-8">
            <div>
                <a href="/listings/<%= listing._id %>/edit"><button class="btn show-btn col-2">Edit</button></a>
            </div>
            <div>
                <form method="POST" action="/listings/<%= listing._id %>?_method=delete"><button class="btn show-btn col-2">Delete</button></form><!--delete in lowercase will also work for _method=-->
            </div>
        </div>
    </div>
</body>