<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-4">
        <h3 class="mb-4 col-md-8"><%= listing.title %></h3>
        <div class="text-center text-md-start mb-3">
                <img src="<%= listing.image %>" alt="listing image" class="show-img col-12 col-md-5">
        </div>
        <div class="details mb-3">
            <span class="details-heading">Owner: </span><i><%= listing.owner.username %></i><br>
            <span class="details-heading">Description: </span><%= listing.description %><br>
            <span class="details-heading">Location: </span><%= listing.location %><br>
            <span class="details-heading">Country: </span><%= listing.country %><br>
            <span class="details-heading">Price: </span>&#8377; <%= listing.price.toLocaleString("en-IN") %></p><!--To convert number into local comma separated string-->
        </div>
        <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
            <div class="show-btns mb-3 col-md-8">
                <div>
                    <a href="/listings/<%= listing._id %>/edit"><button class="btn show-btn col-2">Edit</button></a>
                </div>
                <div>
                    <form method="POST" action="/listings/<%= listing._id %>?_method=delete"><button class="btn show-btn col-2">Delete</button></form><!--delete in lowercase will also work for _method=-->
                </div>
            </div>
        <% } %>
    </div>

    <% if(currUser) { %>
    <hr>
    <div class="mt-4 mb-4 col-md-8">
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mt-3 mb-3 col-md-6">
                <label for="rating" class="form-label">Review :</label>
                <input id="rating" type="range" min="1" max="5" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comment :</label>
                <textarea id="comment" type="text" placeholder="Share your experience" rows="4" name="review[comment]" class="form-control" required></textarea>
                <div class="invalid-feedback">Please provide some comment.</div>
            </div>
            <div>
                <button class="btn show-btn" type="submit">Send review</button>
            </div>
        </form>
    </div>

    <% } %>
    <hr>
    <div class="mb-3 row">
        <h5>All Reviews</h5>
        <% for(let review of listing.reviews) { %>
                <div class="card mt-3 me-5 col-md-5">
                    <div class="card-body">
                        <div class="card-title"><i>@<%= review.author.username %></i></div>
                        <!-- <div class="card-text"><%- "&#11088; ".repeat(review.rating) %></div> -->
                        <div class="card-text"><%- "&#9733;".repeat(review.rating) + "&#9734;".repeat(5 - review.rating)  %></div>
                        <div class="card-text"><%= review.comment %></div>
                    </div>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="mb-3 ms-3">
                        <button class="btn btn-sm btn-outline-dark">Delete</button>
                    </form>
                </div>
        <% } %>
    </div>
</body>